.songlist{
    display: flex;
    gap: 10px;
    align-items: center;
    color: #fff;

    
    .icon{
        width: 18px;
        height: 18px;
    }
    .video{
        width: 300px;
        cursor: pointer;
    }
    .status{
        font-size: 12px;
        font-weight: 500;
        // margin-left: 40px;
        width: 140px;
        opacity: 0.5;
    }
    .date{
        font-size: 12px;
        font-weight: 500;
        // margin-left: 50px;
        width: 150px;
        opacity: 0.5;
    }
    .views{
        font-size: 12px;
        font-weight: 500;
        margin-left: 30px;
        width: 60px;
        opacity: 0.5;
    }
    .comments{
        font-size: 12px;
        font-weight: 500;
        margin-left: 50px;
        width: 50px;
        opacity: 0.5;
    }
    .time{
        font-size: 12px;
        font-weight: 500;
        margin-left: 150px;
        opacity: 0.5;
    }
    .remove{
        font-size: 14px;
        margin-left: 50px;
        transition: box-shadow 0.3s ease, transform 0.5s ease;
        cursor: pointer;
        opacity: 0.5;

        &:hover{
            transform: scale(1.05);
            box-shadow: 0 0 15px #716f6f;
            opacity: 1;
        }
    }


}
.hr{
    height: 1px;
    width: 100%;
    background: #333;
    margin: 20px 0 40px 0;
}