.songlist{
    display: flex;
    gap: 1rem;
    align-items: center;
    color: #fff;

    
    .icon{
        width: 1.8rem;
        height: 1.8rem;
    }
    .video{
        width: 30rem;
        cursor: pointer;
    }
    .status{
        font-size: 1.2rem;
        font-weight: 500;
        width: 14rem;
        opacity: 0.5;
    }
    .date{
        font-size: 1.2rem;
        font-weight: 500;
        width: 15rem;
        opacity: 0.5;
    }
    .views{
        font-size: 1.2rem;
        font-weight: 500;
        margin-left: 3rem;
        width: 6rem;
        opacity: 0.5;
    }
    .comments{
        font-size: 1.2rem;
        font-weight: 500;
        margin-left: 5rem;
        width: 5rem;
        opacity: 0.5;
    }
    .time{
        font-size: 1.2rem;
        font-weight: 500;
        margin-left: 10rem;
        opacity: 0.5;
    }
    .remove{
        font-size: 1.4rem;
        margin-left: 8rem;
        transition: box-shadow 0.3s ease, transform 0.5s ease;
        cursor: pointer;
        opacity: 0.5;

        &:hover{
            transform: scale(1.05);
            box-shadow: 0 0 1.5rem #716f6f;
            opacity: 1;
        }
    }


}
.hr{
    height: 1px;
    width: 100%;
    background: #333;
    margin: 2rem 0 4rem 0;
}