.outStanding{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    height: 30rem;

    .wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: linear-gradient(90deg,var(--color-start), var(--color-end));
        width: 18.5rem;
        height: 18.5rem;
        box-sizing: border-box;
        box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
        transition: transform 0.5s ease, box-shadow 0.3s ease;

        &:hover{
            transform: scale(1.05);

            
        }
        .image{
            width: 18rem;
            height: 18rem;
            border-radius: 50%;
            object-fit: cover;
            
            &:hover{
                width: 18.5rem;
                height: 18.5rem;
                border: 2px solid white;
                
            }
        }
    }
    .name{
        font-size: 2.4rem;
        font-weight: 600;
        color: white;
        margin: 1rem  0;
        

        text-shadow: 
        2px -2px 0 #069ad6,
        3px -3px 0 #9747ff,
        ;
    }
    
}