.frame{
    padding: 0 100px;
    .infos{
        display: flex;
        flex-direction: row;
        color: #fff;
        margin-top: 20px;
        width: 75vw;
        height: 70px;
        .cover{
            width: 60px;
            height: 60px;
            border-radius: 5px;
            object-fit: cover;
        }
        .info{
            width: 200px;
            
            .title{
                font-size: 16px;
                font-weight: 600;
                margin: 10px   ;
                
            }
            .artist{
                font-size: 12px;
                font-weight: 600;
                opacity: 0.6;
                margin: 10px;
            }
        }
        .duration{
                font-size: 10px;
                font-weight: 600;
                opacity: 0.6;
                margin-left: 64%;
                margin-top: 40px;
                
        }
    
    }
    .hr{
        height: 1px;
        width: 100%;
        background: #333;
    }
}
