:root {
  --color-start: #069ad6;
  --color-end: #9747ff;
  --color-actionBtn: #b3b3b3;
  --color-actionBtn-hover: #fff;
  --color-actionHeart-hover: #ff0000;
  --color-actionPlay: #1a1a1a;
  --color-actionPlay-hover: #5a32a3;


  --bg-left:#1e142c;
  --bg-right:#0f0120;

  --bgc-arrowBtn: rgba(255, 255, 255, 0.2);
  --bgc-arrowBtn-hover: rgba(255, 255, 255, 0.4);
  --bg-playbox:#1a1424;
  --bg-controlBtn:#ffffff00;
  --border-controlBtn: #ffffff00;

  --bg-header-previous: #706e6e;
  --bg-header-previous-hover: #ffffff;

}
