:root {
  --color-start: #069ad6;
  --color-end: #9747ff;
  


  --bg-left:#241b31;
  --bg-right:rgba(32, 19, 53, 0.9);

  --bg-playbox:#1a1424;
  --bg-controlBtn:#ffffff00;
  --border-controlBtn: #ffffff00;
}
