:root{
    --color-start:#069ad6 ;
    --color-end: #9747ff;
}   
.item{
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease, box-shadow 0.3s ease;
    height: 300px;
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    
    &:hover{
        transform: scale(1.05);
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
        
    }
    .coverWrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        width: 181px;
        height: 181px;
        padding: 1px;
        background: linear-gradient(90deg,var(--color-start), var(--color-end));
        .cover{
            width: 180px;
            height: 180px;
            border-radius: 10px;
            padding-bottom: 0;
            object-fit: cover;
            
            // border: 2px solid var(--color-end)
        }
    }
       
    .title{
        font-size: 18px;
        font-weight: 800;
        width: 201px;
        color: white;
        margin: 0 5px 10px 0;
        display: flex;
        flex-wrap: wrap;
        

        text-shadow: 
        1px -1px 0 #069ad6,
        2px -2px 0 #9747ff,
        ;

    }
    .artist{
        margin: 0;
        font-size: 12px;
        font-weight: 600;
        color: white;

        text-shadow: 
        1px -1px 0 #069ad6,
        2px -2px 0 #9747ff,
        ;
    }
}