.route{
    list-style: none;
    color: #fff;

    .listSong{
        display: flex;
        align-items: center;
        margin-left: 30px;
        gap: 20px;
        height: 60px;
        position: relative;
        transition: transform 0.5s ease;
        
        &:hover{
            background-color: #121212;
            transform: scale(1.01)
        }
    
        i{
            font-size: 16px;
        }
        .image{
            height: 40px;
            width: 40px;
            border-radius: 15px;
            cursor: pointer;
        }
        .info{
            .title{
                font-size: 18px;
                font-weight: 600;
                margin: 0;
                cursor: pointer;
            }
            .artist{
                margin: 0;
                font-size: 14px;
                font-weight: 600;
                opacity: 0.6;
                cursor: pointer;
            }
        }
        .time{
            position: absolute;
            display: flex;
            align-items: center;
            height: 60px;
            right: 15px;
            top: 0px;
            font-size: 12px;
            opacity: 0.6;
        }
    }
    .hr{
        height: 1px;
        width: 100%;
        background: #333;
    }
}
