.listSong{
    display: flex;
    align-items: center;
    margin-left: 30px;
    gap: 30px;
    height: 120px;
    position: relative;
    i{
        font-size: 36px;
    }
    .image{
        height: 100px;
        width: 100px;
        border-radius: 15px;
        cursor: pointer;
    }
    .info{
        .title{
            font-size: 40px;
            font-weight: 600;
            margin: 0;
            cursor: pointer;
        }
        .artist{
            margin: 0;
            font-size: 24px;
            font-weight: 600;
            opacity: 0.6;
            cursor: pointer;
        }
    }
    .time{
        position: absolute;
        display: flex;
        align-items: center;
        height: 60px;
        right: 15px;
        top: 5px;
        font-size: 24px;
        opacity: 0.6;
    }
}
.hr{
    height: 1px;
    width: 100%;
    background: #333;
}