:root{
    --color-fill : #019AD6;
    --color-empty : #9747FF;
}
.playbox{
    height: 20vh;
    background: #212121;
    .progressWrapper{
        position: relative;
        height: 2px;
        background-color:#444;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 5px;
        
        .progress{
            position: relative;
            height: 100%;
            background: linear-gradient(to right,var(--color-fill), var(--color-empty));
            border-radius: 5px;
            
            
            &:hover{
                border: 0.1px solid white;
            }

            .progressThumb{
                position: absolute;
                width: 10px;
                height: 10px;
                background-color: white;
                border-radius: 50%;
                right: -6px;
                top: 50%;
                transition: transform 0.75s ease;
                transform: translateY(-50%);
                
                &:hover{
                    background: var(--color-fill);
                    border: 3px solid white;
                    
                }
            }
        }


    }
    .infos{
        display: flex;
        padding: 0px 23px;
        align-items: center;
        margin-top: 20px;

        .albumArt{
            height: 40px;
            width: 40px;
            margin-right: 10px;
            border-radius: 50%;
            
        }
        .details{
            margin-right: 50px;

            .title{
                font-size: 16px;
                color: white;
                margin: 5px 0;
            }
            .artist{
                font-size: 12px;
                opacity: 0.7;
                margin: 0;
                color: white;
            }
        }
        .icon{
            font-size: 16px;
            cursor: pointer;
            color: white;
        }
    }
    .controls{
        margin-top: 15px;
        display: flex;
        justify-content: center;
        gap: 25px;
        .controlBtn{
            background: #212121;
            color: white;
            cursor: pointer;
            font-size: 30px;
            padding: 0;
            transition: 0.5s;
        }
    }
}