.songItem {
    position: relative;
    padding-top: 1rem;
    border-radius: 1rem;
    transition: background-color 0.3s ease; 
    
    .cover {
        width: 100%;
        height: 50rem;
        border-radius: 1rem;
        object-fit: cover;
        object-position: center top;
        box-sizing: border-box;
        color: white;
    }

    .songDetail {
        position: absolute;
        bottom: 10rem; 
        right: 15rem; 
        color: white;
        text-align: right; 
        padding: 2rem 0;

        .title {
            margin: 0;
            font-size: 4.2rem; 
            font-weight: 700;
            text-transform: uppercase; 
            padding: 1rem 0;
        }

        .artist {
            margin: 1rem 0;
            font-size: 1.8rem; 
            font-weight: 600;
            text-transform: uppercase;
        }
    }

    .actions {
        position: absolute;
        bottom: 5rem; 
        right: 15rem; 
        display: flex;
        gap: 3.6rem;

        .actionBtn {
            background: none;
            border: none;
            color: var(--color-actionBtn);
            font-size: 2.4rem; 
            cursor: pointer;

            &:hover {
                color: var(--color-actionBtn-hover);
            }
        }
        .actionHeart{
            i {
                font-size: 2.4rem;
                color: var(--color-actionBtn);
                cursor: pointer;
    
                &:hover {
                  color: var(--color-actionHeart-hover);
                }
            }
        }

        .playBtn {
            background: linear-gradient(to bottom, var(--color-start), var(--color-end));
            border: none;
            border-radius: 5rem;
            width: 12rem; 
            height: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            gap: 0.5rem;
            color: var(--color-actionPlay);
            font-size: 3rem; 
            box-sizing: border-box;
            cursor: pointer;
            transition: background-color 0.3s ease transform 0.5s ease box-shadow 0.5s ease;

            &:hover {
                background-color: var(--color-actionPlay-hover);
                transform: scale(1.02);
                box-shadow: 0 0 15px #b5b1b1;
            }
            
            .titlePlay{
                font-size: 2.4rem;
                font-weight: 700;
                
            }

        }
    }
}