.img{
    width: 25rem;
    height: 25rem;
    border-radius: 2rem;
    cursor: pointer;
    box-sizing: border-box;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &:hover{
        transform: scale(1.05);
        box-shadow: 0 0 1rem 0.5rem rgba(255, 255, 255, 0.8);
        
    }
}