
  .container {
    height: 80vh;
    margin: 0;
    padding: 30px;
    background: #000;

    .content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      height: 100%;
  
      .song {
        width: 100%;
        height: 100%;
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
  
        .discWrapper {
          position: relative;
        }
  
        .disc {
          height: 25rem;
          width: 25rem;
          border-radius: 50%;
          border: 2px solid white;
          padding: 2rem;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
  
          .image {
            height: 100%;
            width: 100%;
            border-radius: 50%;
            object-fit: cover;
            transition: transform 0.3s ease;
  
            &.playing {
              animation: rotate 10s linear infinite;
            }
          }
        }
  
        .overlayText {
          position: absolute;
          top: 10;
          left: 2;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.4rem;
          font-weight: bold;
          color: #ffca28;
          text-transform: uppercase;
          pointer-events: none;
          text-align: center;
          line-height: 1.2rem;
          padding: 2rem;
        }
  
        .infos {
          margin-top: 5rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
  
          .info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            max-width: 40rem;
  
            .title { 
              color: white;
              display: flex;
              flex-direction: column;
              gap: 1rem;
              .name {
                font-size: 2.4rem;
                width: 100%;
                font-weight: 700;
                margin: 0;
                color: white;
              }
  
              .desc {
                font-size: 1.6rem;
                font-weight: 600;
                opacity: 0.7;
                margin: 0;
                color: white;
              }
            }
  
            i {
              font-size: 2rem;
              color: white;
              cursor: pointer;
  
              &:hover {
                color: red;
              }
            }
          }
  
          .controls {
            margin-top: 4rem;
            width: 100%;
            max-width: 40rem;
            display: flex;
            flex-direction: column;
            align-items: center;
  
            .progressWrapper {
              display: flex;
              align-items: center;
              width: 100%;
              gap: 1rem;
  
              .current,
              .totalTime {
                font-size: 1.2rem;
                color: white;
              }
              
              .progressTrack {
                position: relative;
                flex: 1;
                height: 0.5rem;
                background: #444;
                border-radius: 0.5rem;
                cursor: pointer;
  
                .progress {
                  position: relative;
                  height: 100%;
                  background: linear-gradient(to right, var(--color-fill), var(--color-empty));
                  border-radius: 0.5rem;
                  transition: width 0.3s ease;
  
                  &:hover {
                    border: 0.1px solid white;
                  }
  
                  .progressThumb {
                    position: absolute;
                    width: 1rem;
                    height: 1rem;
                    background-color: white;
                    border-radius: 50%;
                    right: -1rem;
                    top: 50%;
                    transform: translateY(-50%);
  
                    &:hover {
                      background: var(--color-fill);
                      border: 4px solid white;
                    }
                  }
                }
              }
            }
  
            .control {
              margin-top: 3rem;
              display: flex;
              align-items: center;
              gap: 2.4rem;
  
              .btn {
                background-color: transparent;
                border: none;
                cursor: pointer;
  
                i {
                  font-size: 3.6rem;
                  color: white;
                  background-color: transparent;
                }
              }
  
              .btnShuffle {
                margin-right: 3rem;
              }
  
              .btnback {
                margin-right: 1rem;
              }
  
              .playBtn {
                margin: 0 1rem;
              }
  
              .btnnext {
                margin-left: 1rem;
              }
  
              .btnRepeat {
                margin-left: 3rem;
              }
  
              .active {
                border: 1px solid white;
                border-radius: 50%;
                padding: 0.5rem;
              }
            }
          }
        }
      }
  
      .lyrics {
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
  
        .lyric {
          font-size: 2.4rem;
          color: white;
          white-space: pre-line;
          background: rgba(255, 255, 255, 0.1);
          padding: 2rem;
          border: 2px solid #019AD6;
          border-radius: 1rem;
          line-height: 1.5;
        }
      }
    }
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }