.container{
    
    .formShow{
        .title{
            font-size: 3.6rem;
            font-weight: 700;
            margin: 0;
            color: #fff;
            margin-bottom: 3rem;
        }
        .subjects{
            display: flex;
            gap: 1rem;
            color: #fff;
            margin-bottom: 2rem;
            .video{
                font-size: 1.6rem;
                font-weight: 600;
                margin-left: 3rem;
            }
            .status{
                margin-left: 25rem;
                font-size: 16px;
                font-weight: 600;
            }
            .date{
                margin-left: 8rem;
                font-size: 1.6rem;
                font-weight: 600;
            }
            .views{
                margin-left: 10rem;
                font-size: 1.6rem;
                font-weight: 600;
            }
            .comments{
                margin-left: 5rem;
                font-size: 1.6rem;
                font-weight: 600;
            }
            .time{
                margin-left: 6rem;
                font-size: 1.6rem;
                font-weight: 600;
            }
        }
        .videolist{
            margin-bottom: 5rem;
        }
        .formCreate{
            
            display: flex;
            align-items: center;
            gap: 1rem;


            .img{
                width: 2rem;
                height: 2rem;
                cursor: pointer;
            }
            .btn{
                color: white;
                .btnAdd{
                    margin-left: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    width: 3rem;
                    height: 3rem;
                    i{
                        font-size: 1.2rem;
                    }
                }
            }
            
            .desc{
                font-size: 1.8rem;
                margin: 0;
                color: #fff;
            }
        }

    }
}