:root{
    --color-start : #069AD6;
    --color-end : #9747FF;
}
.container{
    
    .formShow{
        .title{
            font-size: 36px;
            font-weight: 700;
            margin: 0;
            color: #fff;
        }
        .subjects{
            display: flex;
            gap: 10px;
            color: #fff;

            .video{
                font-size: 16px;
                font-weight: 600;
                margin-left: 30px;
            }
            .status{
                margin-left: 250px;
                font-size: 16px;
                font-weight: 600;
            }
            .date{
                margin-left: 80px;
                font-size: 16px;
                font-weight: 600;
            }
            .views{
                margin-left: 100px;
                font-size: 16px;
                font-weight: 600;
            }
            .comments{
                margin-left: 50px;
                font-size: 16px;
                font-weight: 600;
            }
            .time{
                margin-left: 120px;
                font-size: 16px;
                font-weight: 600;
            }
        }
        .videolist{
            margin-bottom: 50px;
        }
        .formCreate{
            
            display: flex;
            align-items: center;
            gap: 10px;


            .img{
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
            .btn{
                color: white;
                .btnAdd{
                    margin-left: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    width: 30px;
                    height: 30px;
                    i{
                        font-size: 12px;
                    }
                }
            }
            
            .desc{
                font-size: 18px;
                margin: 0;
                color: #fff;
            }
        }

    }
}