.container {
    width: 100%;
    display: flex;
    box-sizing: border-box;

    .left {
        background-color: var(--bg-left);
        position: fixed;
        min-width: 30rem;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .right {
        box-sizing: border-box;
        background-color: var(--bg-right);
        width: calc(100% - 30rem);
        margin-left: 30rem;
        padding: 0 3.6rem;
        display: flex;
        flex-direction: column;
        gap: 4rem;

        .header {
            height: 5rem;
        }
        .main {
            width: 100%;
            padding-bottom: 15rem;
        }
    }
    .below{
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 10;
    }
}
