:root{
    --color-start : #069AD6;
    --color-end : #9747FF;
}

body{
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;
    .container{
        width: 100vw;
        display: grid;
        position: relative;
        grid-template-columns: repeat(15, 1fr);
        height: 100vh;
        box-sizing: border-box;
    
        .left{
            grid-column: span 3;
            position: fixed;
            z-index: 1;
        }
        .right{
            width: 79vw;
            margin-left: 17vw;
            grid-column: span 12;
            background-color:#000 ;
            padding: 0 23px;
            
            .header{
                height: 50px;
            }
            .main{
                width: 100%;
            }
        }
    
    }

}





