.frame{
    
    .sectionTitle{
        font-size: 28px;
        font-weight: 700;
        color: #fff;
        margin: 5px 0;
        margin-top: 30px;
    }

    .route{
        list-style: none;
        color: #fff;
        .songItems{
            .songItem{
                display: flex;
                align-items: center;
                margin-left: 30px;
                gap: 20px;
                height: 60px;
                position: relative;
                i{
                    font-size: 18px;
                }
        
                transition: transform 0.5s ease;
                
                &:hover{
                    background-color: #000;
                    transform: scale(1.01);
                    
                }
        
                .image{
                    height: 40px;
                    width: 40px;
                    border-radius: 15px;
                    object-fit: cover;
                    cursor: pointer;
                }
                .info{
                    :hover{
                        color: #0862b0;
                    }
                    .title{
                        font-size: 18px;
                        font-weight: 600;
                        margin: 0;
                        cursor: pointer;
                        color: #fff;

                        
                    }
                    .artist{
                        margin: 0;
                        font-size: 14px;
                        font-weight: 600;
                        opacity: 0.6;
                        cursor: pointer;
                        color: #fff;
                    }
                }
                .time{
                    position: absolute;
                    display: flex;
                    align-items: center;
                    height: 60px;
                    right: 15px;
                    top: 5px;
                    font-size: 12px;
                    opacity: 0.6;
                }
            }
            .hr{
                height: 1px;
                width: 100%;
                background: #333;
            }
        }
    }
    
}

