.formCreate{
    color:  #fff;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    .title{
        font-size: 2.8rem;
        font-weight: 700;
        color: #fff;
    }
    .content{
        .form{
            display: flex;
            // gap: 100px;
            justify-items: center;
            .content_left{
                
                .frameAudio{
                    display: flex;
                    align-items: center;
                    .inputAudio{
                        display: none;
                        align-items: center;
                    }
                    .uploadArea{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 12rem;
                        height: 12rem;
                        background-color: #333;
                        border: 1px solid #555;
                        border-radius: 1.5rem;
                        cursor: pointer;
                        margin: 3rem;
                        transition:  transform 0.3s ease;
    
                        &:hover{
                            background-color: #444;
                        }
    
                        .uploadIcon{
                            .img{
                                width: 3rem;
                                height: 3rem;
                                
                            }
                        }
                        .uploadText{
                            color: #fff;
                            font-size: 1.6rem;
                            text-align: center;
                            margin: 0 auto;
    
                            span {
                                display: block;
                                font-size: 1.2rem;
                                color: #bbb;
                                margin-top: 0.5rem;
                            }
                        }
                    }
                    .audioPreview{
                        max-width: 10rem;
                    }
                }
                .frameThumbnail{
                    display: flex;
                    align-items: center;
                    .inputThumbnail {
                        display: none;
                    }
                    .uploadArea{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 12rem;
                        height: 12rem;
                        background-color: #333;
                        border: 1px solid #555;
                        border-radius: 1.5rem;
                        cursor: pointer;
                        margin: 3rem;
                        transition:  transform 0.3s ease;
    
                        &:hover{
                            background-color: #444;
                        }
    
                        .uploadIcon{
                            .img{
                                width: 3rem;
                                height: 3rem;
                                
                            }
                        }
                        .uploadText{
                            color: #fff;
                            font-size: 1.6rem;
                            text-align: center;
                            margin: 0 auto;
    
                            span {
                                display: block;
                                font-size: 1.2rem;
                                color: #bbb; 
                                margin-top: 0.5rem;
                            }
                        }
                    }
                    .thumbnailPreview{
                        max-width: 12rem;
                        width: 12rem;
                        height: 12rem; 
                        
                    }
                }
                
                .info{
                    margin: 3rem;
                    font-size: 1.6rem;
                }
                .radioItem{
                    display: flex;
                    align-items: center;
                    .rdr{
                        margin: 3rem;
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                    span{
                        font-size: 1.4rem;
                    }
                }
                
               
            }
            .content_right{
                
                label{
                    font-size: 1.8rem;
                    margin: 1rem 2rem;
                    font-weight: 600;
                }
                .inputName{
                    width: 100%;;
                    font-size: 1.6rem;
                    height: 3rem;
                    margin-bottom: 5rem;
                    margin-top: 1rem;
                    border-radius: 0.5rem;
                    background: #424141;
                    color: #fff;
                }
                .music{
                    width: 95%;
                    display: flex;
                    gap: 4rem;
                    margin-bottom: 5rem;
                    .inputArtist{
                        font-size: 1.8rem;
                        width: 22vw;
                        height: 3rem;
                        margin-top: 1rem;
                        border-radius: 0.5rem;
                        background: #424141;
                        color: #fff;
                    }  
                    .inputMusician{
                        font-size: 1.8rem;
                        width: 22vw;
                        height: 3rem;
                        margin-top: 1rem;
                        border-radius: 0.5rem;
                        background: #424141;
                        color: #fff;
                    } 
                }
                .desc{
                    font-size: 1.8rem;
                    height: 10rem;
                    width: 100%;
                    margin-top: 1rem;
                    margin-bottom: 5rem;
                    border-radius: 1.5rem;
                    background: #424141;
                    color: #fff;
                }
                .button{
                    display: flex;
                    justify-content: center;
                    gap: 5rem;
                    .btn{
                        height: 5rem;
                        width: 20rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 2.4rem;
                        box-sizing: border-box;
                        border-radius: 1.5rem;
                        transition: transform 0.5s ease, box-shadow 0.3s ease;
                        &:hover{
                            box-shadow: 0 0 1.5rem #e6dbdb;
                            transform: scale(1.05);
                        }
                    }
                    .btnDelete{
                        background: #000;
                        border: 1px solid white;
                        color: #fff;

                    }
                    .btnAdd{
                        background: linear-gradient(to bottom, var(--color-start), var(--color-end));
                    }
                }
                
            }
        }
    }
}