:root{
    --color-start : #069AD6;
    --color-end : #9747FF;
}
.formCreate{
    color:  #fff;
    .title{
        font-size: 28px;
        font-weight: 700;
        color: #fff;
    }
    .content{
        .form{
            display: flex;
            // gap: 100px;
            justify-items: center;
            .content_left{
                
                .frameAudio{
                    display: flex;
                    align-items: center;
                    .inputAudio{
                        display: none;
                        align-items: center;
                    }
                    .uploadArea{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 120px;
                        height: 120px;
                        background-color: #333;
                        border: 1px solid #555;
                        border-radius: 15px;
                        cursor: pointer;
                        margin: 30px;
                        transition:  transform 0.3s ease;
    
                        &:hover{
                            background-color: #444;
                        }
    
                        .uploadIcon{
                            .img{
                                width: 30px;
                                height: 30px;
                                
                            }
                        }
                        .uploadText{
                            color: #fff;
                            font-size: 16px;
                            text-align: center;
                            margin: 0 auto;
    
                            span {
                                display: block;
                                font-size: 12px;
                                color: #bbb; // Màu xám cho chữ phụ
                                margin-top: 5px;
                            }
                        }
                    }
                    .audioPreview{
                        max-width: 100px;
                    }
                }
                .frameThumbnail{
                    display: flex;
                    align-items: center;
                    .inputThumbnail {
                        display: none;
                    }
                    .uploadArea{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 120px;
                        height: 120px;
                        background-color: #333;
                        border: 1px solid #555;
                        border-radius: 15px;
                        cursor: pointer;
                        margin: 30px;
                        transition:  transform 0.3s ease;
    
                        &:hover{
                            background-color: #444;
                        }
    
                        .uploadIcon{
                            .img{
                                width: 30px;
                                height: 30px;
                                
                            }
                        }
                        .uploadText{
                            color: #fff;
                            font-size: 16px;
                            text-align: center;
                            margin: 0 auto;
    
                            span {
                                display: block;
                                font-size: 12px;
                                color: #bbb; // Màu xám cho chữ phụ
                                margin-top: 5px;
                            }
                        }
                    }
                    .thumbnailPreview{
                        max-width: 120px;
                        width: 120px;
                        height: 120px; 
                        
                    }
                }
                
                .info{
                    margin: 30px;
                    font-size: 16px;
                }
                .radioItem{
                    display: flex;
                    align-items: center;
                    .rdr{
                        margin: 30px;
                        width: 15px;
                        height: 15px;
                    }
                    span{
                        font-size: 14px;
                    }
                }
                
               
            }
            .content_right{
                
                label{
                    font-size: 18px;
                    margin: 20px;
                    font-weight: 600;
                }
                .inputName{
                    width: 100%;;
                    font-size: 16px;
                    height: 30px;
                    margin-bottom: 50px;
                    border-radius: 5px;
                    background: #424141;
                }
                .music{
                    width: 95%;
                    display: flex;
                    gap: 40px;
                    margin-bottom: 50px;
                    .inputArtist{
                        font-size: 18px;
                        width: 22vw;
                        height: 30px;
                        border-radius: 5px;
                        background: #424141;
                    }  
                    .inputMusician{
                        font-size: 18px;
                        width: 22vw;
                        height: 30px;
                        border-radius: 5px;
                        background: #424141;
                    } 
                }
                .desc{
                    font-size: 18px;
                    height: 100px;
                    width: 100%;
                    margin-bottom: 50px;
                    border-radius: 15px;
                    background: #424141;
                }
                .button{
                    display: flex;
                    justify-content: center;
                    gap: 50px;
                    .btn{
                        height: 50px;
                        width: 200px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 24px;
                        box-sizing: border-box;
                        border-radius: 15px;
                        transition: transform 0.5s ease, box-shadow 0.3s ease;
                        &:hover{
                            box-shadow: 0 0 15px #e6dbdb;
                            transform: scale(1.05);
                        }
                    }
                    .btnDelete{
                        background: #000;
                        border: 1px solid white;
                        color: #fff;

                    }
                    .btnAdd{
                        background: linear-gradient(to bottom, #069AD6, #9747FF);
                    }
                }
                
            }
        }
    }
}