
.container{   
    display: flex;
    flex-direction: column;
    .albums{
        
        .frameLogin{
            display: flex;
            flex-wrap: wrap;
            
            gap: 30px;
            list-style: none;
            padding: 0;
            .album{
                .albumLink{
                    color: white;
                }
            }        
        }
    }
    .notLogin{
        display: flex;
        margin-top: 150px;
        align-items: center;
        justify-content: center;
    }
}


