
.container {
    // width: 100%;
    min-height: 100vh;
    // display: grid;
    // grid-template-columns: 18vw 1fr;
    display: flex;
    background: #000000;
 

    .main_left{
        position: fixed;
        top: 0;
        left: 0;
        width: 18vw;
        .sidebar{
            flex : 1;
            overflow-y: auto;
        }
        .playBox{
            width: 100%;
            position: sticky;
            border-bottom: 0;
        }
    }

    .main_right{   
        width: 81vw;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        margin-left: 18vw;
        .header{
            Header{
                padding: 0 15px;
                height: 70px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: #000000;
                border-radius: 50px;
                margin: 10px;
                position: sticky;
                top: 0;
                z-index: 10;
            }
    
        }
        .content{
            height: 70vh;
            .frame{
                min-height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }
    }
}

