
.container{   
    display: flex;
    flex-direction: column;
    .albums{
        margin: 0 70px;
        .frameLogin{
            display: flex;
            flex-wrap: wrap;
            gap: 60px;
            list-style: none;
            
            .album{
                .albumLink{
                    color: white;
                }
            }        
        }
    }
    .notLogin{
        display: flex;
        margin-top: 150px;
        align-items: center;
        justify-content: center;
    }
}


