.container{   
    width: 100%;
    display: flex;
    flex-direction: column;
    
    .contentLogin{
        .frameLogin{
        }
        .outStandings{
            margin-top: 30px;
            .outStandingTitle{
                font-size: 28px;
                padding: 0 30px ;
                color: #fff;
            }
            .outStanding{
                display: flex;
                margin: 0 auto;
                justify-content: center;
                gap: 50px;
            }
        }
    } 
    .notLogin{
        display: flex;
        margin-top: 150px;
        align-items: center;
        justify-content: center;
    }   
}


