.sidebar{
    height: 75vh;
    background-color: #121212;
    padding: 23px;
    


    
    .logo{
        display: flex;
        justify-content: center;
        h1{
            font-size: 40px;
            font-weight: 800;
            color: white;
            margin: 0px 0px 23px 0px;
            
        }
    }

    .toolbar{
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    
}