.sidebar{
    height: 100vw;
    padding: 2.3rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    
    .logo{
        display: flex;
        justify-content: center;
        h1{
            font-size: 5.6rem;
            font-weight: 800;
            color: white;
        }
    }

    .toolbar{
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    
}