.container {
    .setting{
        .listItem{
            list-style: none;
            color: white;
    
            .item{
                display: flex;
                align-items: center;
    
                i{
                    font-size: 28px;
                    cursor: pointer;
                }
                .title{
                    margin: 0;
                    font-size: 22px;
                    font-weight: 700;
                    padding: 10px;
                    margin-left: 20px;
                    cursor: pointer;
    
                    span{
                        font-weight: 700;
                        opacity: 0.5;
                        
                    }
                }   
            }
        }
    }
}

