.header{
    display: flex;
    align-items: center;
    height: 50px;
                
    .previous{
        font-size: 24px;
        margin-right: 20px;
        i{
            color: #706e6e;
        }
         :hover{
            color: #ffffff;
         }
    }
    .searchBars{
        padding: 15px;
           
    }

    .notification{
        font-size: 24px;
        margin-left: 33vw;
        i{
            color: #706e6e;
        }
    }
}
:global(.MuiAutocomplete-popper) {
    z-index: 1500 !important;
  }
  