.header{
    display: flex;
    align-items: center;
    height: 50px;
                
    .previous{
        font-size: 24px;
        margin-right: 20px;
        i{
            color: white;
        }
    }
    .searchBars{
        position: relative;
        padding: 15px;
        
        .searchBar{
            width: 300px;
            font-size: 18px;
            color: white;
            padding-left: 30px;
            border-radius: 10px;
            background-color: #333;
            
        }
        .btn{
                position: absolute;
                top: 6px;
                left: 2px;
                padding: 10px;
                margin-left: 10px;
                cursor: pointer;
                background: rgba(255, 255, 255, 0.0);
            i{
                
                font-size: 16px;
                color: white;
                
            }
        }
        
    }

    .notification{
        font-size: 24px;
        margin-left: 740px;
        i{
            color: white;
        }
    }
}