.header{
    display: flex;
    align-items: center;
    height: 5rem;
                
    .previous{
        font-size: 3rem; 
        i{
            color: var(--bg-header-previous);
        }
        :hover{
            color: var(--bg-header-previous-hover);
        }
    }
    .searchBars{
        padding: 1.5rem; 
    }

    .notification{
        font-size: 3rem;
        margin-left: 5%;
        i{
            color: var(--bg-header-previous);
        }
        :hover{
            color: var(--bg-header-previous-hover);
        }
    }
}
:global(.MuiAutocomplete-popper) {
    z-index: 1500 !important;
  }
  