
.frame{
    border: 2px solid #fff;
    height: 300px;
    width: 500px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #121212;

    .title{
        margin-bottom: 30px;
        font-size: 34px;
        color: white;
        padding: 20px;

    }
    .link{
        color: #fff;
        .btn{
            width: 300px;
            height: 60px;
            font-size: 24px;
            font-weight: 700;
            border-radius: 50px;
            color: white;
            background: linear-gradient(to bottom, #069AD6, #9747FF);
            transition: box-shadow 0.3 ease transform 0.75s ease;
            
            &:hover{
                box-shadow: 0 0 10px white;
                transform: scale(1.01);
            }
        }
    }
    

}