
.frame{
    border: 2px solid #fff;
    height: 600px;
    width: 1600px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #121212;

    .title{
        width: 45%;
        margin-bottom: 60px;
    }
    .link{
        color: #fff;
        .btn{
            width: 500px;
            height: 100px;
            font-size: 30px;
            border-radius: 50px;
            background: linear-gradient(to bottom, #069AD6, #9747FF);
            transition: box-shadow 0.3 ease transform 0.75s ease;
            
            &:hover{
                box-shadow: 0 0 10px white;
                transform: scale(1.01);
            }
        }
    }
    

}