.categories{
    .categoryTitle{
        font-weight: bold;
        padding: 2.4rem 0;
        font-size: 3.6rem;
        color: white;
    }
    .searchBars{
        
        display: flex;
        flex-direction: row;
        margin-bottom: 5rem;
        gap: 2rem;
            
    }
    .category{
        .search{
            .searchList{
                .searchTitle{
                    color: #fff;
                    margin-top: 8rem;
                    font-size: 2.4rem; 
                }
            }
            .move{ 
                margin-top: 2rem;
                display: flex;
                justify-content: center;
                padding: 3rem;
                .btnMove{
                    color: #fff;
                    width: 12rem;
                    height: 5rem;
                    font-size: 1.6rem;
                    font-weight: 700;
                    background-color: #4e4b4b;
                    border-radius: 3rem;
                    border: 1px solid #4e4b4b; 

                    &:hover{
                        background-color: #230142;
                    }
                }
            }
        }
       

        .genre{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 10rem;
            gap: 2rem;
            padding-bottom: 2rem;
        }
    }
}  


