.categories{
    
    .categoryTitle{
        font-weight: bold;
        font-size: 36px;
        color: white;
    }
    .category{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
}  


