.frameWrapper{
    position: relative;
    .bg{
        .imgBg{
            box-sizing: border-box;
            object-fit: cover;
            width: 100%;
        }
    }
    .infos{
        display: flex;
        gap: 50px;
        position: absolute;
        top: 150px;
        left: 50px;
        .avatar{
            width: 200px;
            height: 200px;
            border: 1px solid white;
            border-radius: 50%;

        }
        .content{
            .userName{
                font-size: 24px;
                font-weight: 700;
                color: #fff;
                margin: 140px 0 0 0;
            }
            .info{
                display: flex;
                gap: 20px;
                align-items: center;
                list-style: none;
                padding: 0;
                margin: 0;
                cursor: pointer;

                

                .title{
                    font-size: 16px;
                    font-weight: 600;
                    margin: 0;
                    a{
                        color: #fff;
                    }
                    .active{
                        color: #069AD6;
                        transition: all 0.75s ease;
                    }
                }
                .circle{
                    width: 5px;
                    height: 5px;
                    background-color: #fff;
                    border-radius: 50%;
                }

            }
        }
    }
}