.frameWrapper{
    position: relative;
    .bg{
        .imgBg{
            box-sizing: border-box;
            object-fit: cover;
            width: 100%;
        }
    }
    .infos{
        display: flex;
        gap: 5rem;
        position: absolute;
        top: 26rem;
        left: 5rem;
        .avatar{
            width: 20rem;
            height: 20rem;
            border: 1px solid white;
            border-radius: 50%;

        }
        .content{
            display: flex;
            .main{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                .userName{
                    font-size: 2.4rem;
                    font-weight: 700;
                    color: #fff;
                    margin: 14rem 0 0 0;
                }
            
                
                .info{
                    display: flex;
                    gap: 2rem;
                    align-items: center;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    cursor: pointer;
    
                    
    
                    .title{
                        font-size: 1.6rem;
                        font-weight: 600;
                        margin: 0;
                        a{
                            color: #fff;
                        }
                        .active{
                            color: #069AD6;
                            transition: all 0.75s ease;
                        }
                    }
                    .circle{
                        width: 0.5rem;
                        height: 0.5rem;
                        background-color: #fff;
                        border-radius: 50%;
                    }
    
                }
            }
            .logout{
                margin-top: 16rem;
                margin-left: 15vw;
                .btnLogout{
                    font-size: 1.8rem;
                    padding: 1rem;
                    font-weight: 700;
                }
            }
        }
    }
}
.seen{
    margin-top: 15rem;


    .seenTitle{
        font-size: 3.6rem;
        font-weight: 700;
        color: #fff;
        margin-bottom: 2rem;
    }
}