html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
  background-color: var(--bg-right);
}

a{
  list-style: none;
  text-decoration: none;
}