.main {
    width: 100%;
    min-height: 100vh;
    background: #000000;
    padding: 23px;
    
    display: flex;
    flex-direction: column;


    .header {
        position: fixed;
        top: 0;           // Cố định ở đỉnh
        // left: 600px;       // Đồng bộ với padding của .main
        // right: 23px;      // Đồng bộ với padding của .main
        height: 60px;       // Chiều cao cụ thể của header (tùy chỉnh theo thiết kế)
        z-index: 10;
    }

    .contents {
        margin-top: 70px;
              
        flex: 1;
        overflow-y: hidden;
        overflow-x: hidden;

        // Style cho carousel
        :global {
            .custom-dots {
                position: absolute;
                bottom: 10px; // Đặt dots ở dưới cùng
                display: flex !important;
                justify-content: center;
                gap: 8px;

                li {
                    margin: 0 5px;

                    button {
                        width: 10px;
                        height: 10px;
                        background: #b3b3b3;
                        border-radius: 50%;
                        border: none;
                        padding: 0;
                        cursor: pointer;

                        &:before {
                            content: none; // Xóa nội dung mặc định của slick
                        }
                    }

                    &.slick-active button {
                        background: white; // Chấm active màu trắng
                    }
                }
            }
        }
    }
    .latest{
        // padding: 100px;
        height: 200px;
        
        .tilte{

        }
        .info{
            display: flex;
            width: 200px;
           
        }
    }
}