form{
    position: relative;
    display: inline-block;
    height: 5rem;
    gap: 2rem;

    .btn{
        position: absolute;
        top: 2rem;
        left: 19rem;
        padding: 1rem;
        margin-left: 1rem;
        cursor: pointer;
        background: var(--bg-controlBtn);
        border: 0px solid var(--border-controlBtn);

        i{
            
            font-size: 1.8rem;
            color: white;
            opacity: 0;
            z-index: 10;

        }
    }
}

